.date_label {
  font-family: "Times New Roman";
}
.date_input {

  font-family: "Times New Roman";
  border-radius:10px;
  font-size:16px;
  margin-left: 5px;
  margin-right: 5px;

}
.link_all_td {
  width:100%; 
  display:inline-block; 
  height:100%; 
  box-shadow: 0 0 0.8px;
  
}